# .gitignore

# .gitignore란 git에서 발생(생성)되는 파일중에서 git으로 전송(push) 하지 않고,
# 선택/사용하고있는 로컬 컴퓨터에만 존재하게 하려고 할때 사용하는 명령어 모음

# 사용방법 
# 전송하지않을(git add) 디렉토리명, 파일명 입력하면 끝
# 모든 디렉토리 :  **/
# 모든 파일 : *.*
# 파일이름 모두, 확장자는 jpg: *.jpg
# 예외처리 !붙인다.  : 
#   -   **/work/ 모든 디렉토리안의 워크폴더는 전송하지 않음, 
#   -   !**/design/work/ 모든 디렉토리안에서 디자인폴더 내부에있는 work는 전송

# -----------------------------------------------------------------------

# design파일(psd, ai, indd, psb)
**/*.psd
**/*.ai
**/*.eps
**/*.indd
**/*.psb

# 예외 처리
# !**/design/*.psd