/*rwd_03_mobile.css */

/* mobole 480 ========================================= */
@media screen and (max-width:480px) {
  /* device 기준크기 : 480px */
  #wrap {background-color: #afa;}
  #headBox {height:12.5vw;/* 60/480*100 */ min-height:2.5rem;} 
  h1{width: 26.25vw;/* 126/... */ min-width:6.25rem;}
  #navBox{width:18.75vw;/* 90/... */ min-width:3.75rem; max-width:5.625rem; 
          height:7.901667vw;/* 38/... */ min-height:1.5625rem; max-height:2.375rem;}
  .sign_up{width:7.5vw; /* 36/... */min-width:1.5rem; max-width:2.25rem;}
  .menu{width:9.375vw; /* 45/... */ min-width:1.875rem; max-width:2.8125rem;}


.gnb{display: none;}

/*임시 테스트: 시작*/
.menu{position: relative;}
.gnb{position: absolute; top: 100%; right: 0; display: none;}
.gnb>ul{width: 100%; height: auto;}
.gnb>ul>li{width: 100%; height: auto;}
.gnb>ul>li>a{display: block; width: 100%; height: 2rem; margin-bottom: 1rem;}


.menu>button:focus + .gnb,
.menu>button:hover + .gnb{display: block; width: 50vw; height: 50vh; background-color: #afc;}
.gnb a{display: block; width: 10vw; height: 2rem; background-color: #fff; border: 1px solid  #333;  }
/*임시 테스트: 끝*/


  #addBanner{margin-top:12.5vw; /* 60/480*100 */ 
    height:150vw; /* 720/480*100 */ min-height:30rem;}
  #infoBox{height:150vw; /* 720/480*100 */ min-height:30rem;}
  #contentBox{height:150vw; /* 720/480*100 */ min-height:30rem;}
  #footBox {height:12.5vw;/* 60/480*100 */ min-height:2.5rem;} 

}/* // end mobole 480 */