/* homeBox.css */

/* #homeBox =========================== */
#homeBox{position: relative; z-index: 100; width: 100%; height:1.875rem; background-color:#888888;}

#homeBox ul{float: right; width: 28rem; height: 100%;}
#homeBox ul>li{float:left; width: 5.9375rem; height: 100%;}
#homeBox ul>li:nth-child(2) {background-color:#555555;}
#homeBox ul>li:last-child {position:relative; z-index:100; width:15.3125rem;background-color:#fff30d;}

#homeBox a{display: block; width: 100%; height: 100%; background-color:inherit; text-align: center;
 line-height:1.875rem; color:#fff;
 background-image: url("../../../../img/gcass/homeBox/homeBox.png");
 background-repeat:no-repeat; /*background-position:50%*/
 background-position-y:0; }

#homeBox li:last-child>a{text-align: left; text-indent:1rem; 
	color:#171717;}

#homeBox ul>li>a:hover,
#homeBox ul>li>a:focus{outline:none; background-image: url("../../../../img/gcass/homeBox/homeBox_over.png");}

#homeBox ul>li:last-child>a:hover,
#homeBox ul>li:last-child>a:focus{position:static; background-color:#000cf2;}

#homeBox ul>li:nth-child(1)>a{background-position-x: 0;}	
#homeBox ul>li:nth-child(2)>a{background-position-x: -95px;}	
#homeBox ul>li:nth-child(3)>a{background-position-x: -190px;}	

#homeBox ul>li:last-child a:after{content:" "; display: block;
	position: absolute; z-index: -1; top: 0; left: 0;
    width: 50vw; height: 100%; background-color:inherit;}

#homeBox:before, #homeBox::before{content:" "; display: block;
					position: absolute; z-index: -1; top: 0; left: 50%; margin-left:-50vw;
					width: 100vw; height: 100%; background-color:inherit; }

/* ======================================== */