/* background_01.css */

#wrap{padding-bottom: 10rem; width: 100%; height: auto; min-height:10rem; 
  background-color: #ddd;}
#headBox{width: 100%; height: auto;}
h1{padding:1rem 0; width: 100%; height: auto; background-color: #a8f; text-indent:2rem;}

#bgBox_01{margin-top: 2rem; padding: 0 1rem; width: 100%; height: auto; min-height:1rem;
  background-color: #fff;}

h2{border-bottom: 0.1rem solid #a8f; margin-bottom: 1rem;}
h3{width: 100%; height: auto; padding: 0.5rem; box-sizing:border-box; background-color: #acf;}

.icon{margin:1rem auto; width: 80%; height: 30rem; border:1px solid #333;
    border-radius:2rem 0.5rem 0 0.7rem;
    /*box-shadow:0.5rem 0.5rem 0.5rem #acf, 
               -0.1rem -0.1rem 0.2rem #f06,
               -0.2rem 1rem 0.2rem rgba(255,255, 0, 0.5);*/}

.icon_01{background-image: url("../../img/icon/icon_03.png");
       background-repeat: no-repeat; background-position:20% -100%;
    /*transition:all 300ms linear;*/}
.icon_01:hover{animation:exloding 1000ms infinite ease forwards;}

@keyframes exloding {
  0%{background-position:20% -100%;}
  100%{background-position:20% 200%;}
}

/* backgorund-position: x축,  y축;  - 기본은 0 0
   X와 Y축은 의미상의 용어로 사용이 가능하다(top, left, right, bottom)
   이때, top이나 left 처럼 한쪽으로 위치를 잡고 다른 위치하나는 중심에 위치한다면,
   center라는 용어는 생략해도 된다.
   단, 둘모두 center라면 하나만 입력한다.

  *: background-position의 기능에서 용어를 이용한 위치는 그리 권장하지 않는다.
  그래서: %의 수치나 정확한 수치를 입력하여 배치할 것을 권장.
*/


.icon_02{background-image: url("../../img/icon/icon_01.png");
      background-repeat:no-repeat; background-position: 50% 50%;
      background-size:70% auto; transition:all 300ms linear;}
/* 
  내용이미지의 크기를 지정하는 기능 
  background-size: cover | contain | 가로크기 세로크기
      conver - 꽉차게
      contain - 모든 이미지를 다 보이게
      가로크기와 세로크기를 입력이가능, 둘중 하나는 입력하지 않으면 auto (비율유지)
      단, 세로값을 입력하고 가로크기는 자동으로 변형되게하려면 auto 세로크기;

      --- 
      현재: background-size는 권고안으로 등록이 되지 않은 상태 (prefix)
*/
.icon_02:hover{background-size:120% auto;}

.icon_03{background-image: url("../../img/icon/icon_020.jpg");
      background-repeat:no-repeat; background-position: center;
      background-size:cover; background-color: #acf;}
.icon_03>span{display: block; position:relative; z-index:-1;
  width: 0; height: 0; overflow: hidden; }

.icon_04{
      width:3rem; height:4rem; border-radius:0.2rem;
      background-image: url("../../img/icon/mouse_icons.png");
      background-repeat:no-repeat; 
      background-position:-465px -452px;}


.exam{width: 100%; height:auto; background-color: #ddd;}
.exam>ul{width: 100%; height: auto; }
.exam>ul:after, .exam>ul::after{content:" "; display: block; clear: both;}
.exam>ul>li{margin: 1rem; float: left; border:1px solid #333; 
        width: 110px; height: 120px; border-radius:0.5rem;}
.exam a{display: block; width: 100%; height: 100%;
    background-image: url("../../img/icon/smashicons.png"); background-repeat:no-repeat;}
.exam a>span{display: block; width: 0; height: 0; position: relative; z-index: -1;
        overflow: hidden;}

.exam>ul>li:nth-child(1)>a{background-position: 0 -244px;}
.exam>ul>li:nth-child(1)>a:hover{background-position: -232px 0;}

.exam>ul>li>a:focus{background-position: -120px -120px;}
.exam>ul>li>a:active{background-position: 0 0;}


#bgArea{padding: 1rem; margin:3rem auto; 
        width: 80%; height: auto; background-color: #cda;}

.bg_area{margin: 1rem auto;
  padding: 2rem; border:1rem dotted #64a;
  width: 80%; height: 10rem; background-color: #fff;
  color:#fff; text-align: center; font-size: 2rem;
  font-weight: bold;
  text-shadow:0.3rem 0.3rem 0.1rem #000;
  background-color: #06a;}

.bg_area:hover{background-size:120%;}

/*.area_01{}  - 기본은 border-box 까지 */
.area_02{background-clip:border-box;}
.area_03{background-clip:padding-box;}
.area_04{background-clip:content-box;}


/* ============================= */
.bg_img{background-image: url("../../img/bg/city_02.jpg");
  background-repeat:no-repeat; background-position: center;
  background-size:cover; transition:all 200ms linear;
  border-color:#fa0; background-color: #acf;}

/*.img_01{} - 기본은 padding-box */
.img_02{background-origin:border-box;}
.img_03{background-origin:padding-box;}
.img_04{background-origin:content-box;}


/*
 * 배경 색상을 정해진 요소에 채울경우 색상의 범위를 지정할수 있다.
   background-clip : border-box | padding-box | content-box  ;

 * 배경 이미지를 정해진 요소의 크기만큼 채울경우 그 범위를 지정할 수 있다.
   background-origin : border-box | padding-box | content-box  ;

 * border-box의 의미는: 외곽선의 영역 까지(padding, content포함)
 * padding-box의 의미는: padding의 영역 까지(border제외, content포함)
 * content-box의 의미는: 실제 border, padding이 아닌 내용의 영역을 의미

 - background-clip, background-origin은 모두 css 새로운 속성 prefix
*/

.box{margin: 3rem auto; 
  width: 500px; height: 500px;
  border:2rem dashed #333;
  padding:4rem;/* background-color: #acf;*/
  background-image: url("../../img/bg/city_01.jpg");
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  }

.what{width: 100%; height: 100%; 
    border:2px dotted #fff; 
    box-sizing: border-box;}


/*.box{
  background-clip:content-box;
  background-origin:content-box;
    }
*/



#bgArea_02{margin-bottom:20rem;
  width: 100%; height: auto; border: 2px solid  #fa0;}

#bgArea_02>div{width: 100%; min-width: 60rem;  height: 20rem;
    background-repeat:no-repeat; background-position:50%;
    background-size:cover;}
#bgArea_02>.fixed{background-image: url("../../img/bg/city_02.jpg");
   background-attachment:fixed;}
#bgArea_02>.scroll{background-image: url("../../img/bg/car_02.jpg");
   background-attachment:scroll;}

/*
 * 브라우저 내에서 이미지를 position:fixed; 처리한것처럼 배경이미지를 사용하게 만들수 있는 기능
  background-attachment:fixed | scroll;

  하지만, 간단하게 이미지를 고정시키는 기능으로는 사용할 수 있으나!!!!!
  parallax기능을 이용하는 경우에는 대체로 scroll기능으로 사용한다!!
*/

#gradient{margin: auto;  width: 80%; height: auto; }
#gradient>div{padding: 1rem; box-sizing:border-box;
  width:100%; height:25rem; border:1px solid  #333; margin-bottom:2rem;}

.linear_01{
  background-color: #fa0;
  background-image: url("../../img/gr_01.jpg");ql
  background-repeat:repeat-x; background-position:0 0;
  background-size:auto 100%;
/*  background-image:-webkit-linear-gradient(#fa0, #f0a);
  background-image:-moz-linear-gradient(#fa0, #f0a);
  background-image:-ms-linear-gradient(#fa0, #f0a);
  background-image:-o-linear-gradient(#fa0, #f0a);*/
  background-image:linear-gradient(#fa0, #f0a);
}
.linear_02{ background-image:linear-gradient(90deg, #fa0 30%, #f0a 60%, #acf); }
.linear_03{ background-image:linear-gradient(135deg, #fa0, #fff 30%, #fa0 30%, #f06); }
.linear_03:hover{ background-image:linear-gradient(100deg, #fa0, #fff 30%, #fa0 30%, #f06); }

.linear_04{position: relative; background-image:linear-gradient(0deg, #acf,  #fac);}
.linear_04:before{content:" "; display: block; position: absolute; top: 0; left: 0; 
                 width: 100%; height: 100%; background-image:linear-gradient(0deg, #f06, transparent);
                 transition:all 300ms linear; opacity: 0.7;}
.linear_04:hover:before{opacity: 0;}

.radial_01{background-image:radial-gradient(#fff 20%, #fca 70%, #37a);}

/*
  background-image:url();
  background-position: 0 0;
  background-repeat: ;

  background-color: #fff;
  background-clip:;
  background-origin: ;
  background-size: ;
  background-attachment: ;

  background-image:linear-gradient(각도, 색A 위치, 색B 위치);
*/














