@charset "UTF-8";
/* div_form_join_01.css */

/*
	lightPink: #ffa2bd;
	pink:      #ff558d;
	pinkDeep:  #90008d;
	lightGray: #dfdfdf;
	blue:      #1166c9;
	white:     #fff;
	black:     #171717;
*/

.join_img{background-image: url("../../img/form/join_01.png"); 
				 background-repeat:no-repeat;}

#wrap{margin: auto; padding:2.75rem 8.125rem; box-sizing:border-box;
	width:960px; height:auto; min-height:10rem;}

h2{padding-left:1rem; width: 100%; height: 3.25rem; 
	font-size:2.5rem; font-family:'맑은고딕', malgun-gothic;}
h2>i{float: left; margin-right: 0.2rem;  width:3.25rem; height:3.25rem; border-radius:50%; background-position:-0.625rem -3.25rem;}

.member_info{width:100%; height:1.875rem; text-align:right; font-size: 1.2rem;}
.member_info>i{color:#1166c9;}

form,
form>fieldset{width: 100%; height: auto;}

form>fieldset:first-of-type{width: 100%; height:auto; min-height:10rem;
	background-color: #ff558d;}

/* fieldset:first-of-type ============================== */
.join_form{width: 100%; height:auto; border-bottom:1px solid #fff;
	color:#171717;}


.join_form:last-of-type{border: 0;}
.join_form>dt{float: left; padding:8px 8px 10px 30px; box-sizing: border-box;
	width:27%; height:auto; min-height: 40px; background-color: #ffa2bd;
	font-family:'맑은고딕', malgum-gothic, sans-serif; font-size:1.5rem; font-weight: bold;}

.join_form>dt>label{width: 100%; height: 100%;}
.join_form>dt>label>i:first-of-type{margin-right: 10px; float: left; width: 25px; height: 25px;
	background-position-y:-10px;}
	i.member_01{background-position-x:-10px;}
	i.member_02{background-position-x:-45px;}
	i.member_03{background-position-x:-78px;}
	i.member_04{background-position-x:-111px;}
	i.member_05{background-position-x:-145px;}
	i.member_06{background-position-x:-179px;}
	i.member_07{background-position-x:-212px;}
	i.member_08{background-position-x:-245px;}
	i.member_09{background-position-x:-279px;}
	i.member_10{background-position-x:-312px;}

.join_form>dt>label>i:nth-of-type(2){float: right; font-size: 0.5rem; color:#1166c9; }



.join_form>dd{float: right; padding:8px 20px 6px 20px; box-sizing: border-box;
	width: 70%; height:auto; min-height: 40px; background-color: #dfdfdf;}


.join_form:nth-of-type(8)>dt{min-height:5.3rem;}
.join_form:nth-of-type(8)>dd{min-height:5.3rem;}

.join_form:last-of-type>dt{min-height:5.3rem;}
.join_form:last-of-type>dd{min-height:5.3em;}


/* dd내부 정리 ----------------------- */
.text-box{margin-right:0.3rem; width: 230px; height: 25px; background-color:transparent; 
	border: 0; border-bottom:2px solid #1166c9;}
.btn-check{margin-right:0.3rem; width: 80px; height: 30px; background-color: #1166c9; color:#fff;
	font-weight: bold; border-radius:0.125rem;}

.duplication-check{
	display: inline-block; width: 22px; height: 22px;
	padding-top: 0.3rem; 
	/*background-origin:padding-box;*/
	background-position:-45px -126px;}
.plus{background-position:-11px -126px;}

.gender label{float: left; width: 80px; height: 26px; margin-right:30px; line-height:26px; font-size:1.5rem; font-family:"맑은고딕",malgum-gothic;}
.gender i{float: left; width: 26px; height: 26px; background-position:-45px -170px;}
.gender input[type="radio"]{position: relative; z-index: -1; width: 0; height: 0; overflow: hidden; }
.gender input[type="radio"]:checked + label>i{background-position-x:-10px;}


/* ---------------- */
.telecom_check{margin-bottom: 10px; width: 100%; height: 28px;}
.telecom_check>input{position: relative; z-index: -1; width: 0; height: 0; overflow: hidden; margin: 0;}
.telecom_check>label{width: 80px; height: 26px; margin-right: 30px;
	text-transform: uppercase; font-family:"맑은고딕", malgum-gothic; font-size:1.5rem; word-spacing:-0.5rem;
	vertical-align: top;}
.telecom_check>label:last-of-type{margin-right: 0;}



/* 
 vertical-align: top | middle | baseline | bottom;
 inline-block형식의 요소에 세로 정렬을 하는 속성
*/

label[for="member_08-2"]:after{content:"U+"; vertical-align: top;}
.telecom_check i{display: inline-block; width: 26px; height: 26px; background-position: -45px -170px;}
.telecom_check input:checked + label>i{background-position-x:-10px;}

.tel_number{width: 100%; height: 28px;}
.tel_number>.text-box{width: 30%; height: 100%;}
.tel_number>span{margin-right: 0.2rem;}

/* ------------------------ */
.favorite>input{margin: 0; position: relative; z-index: -1; width: 0; height: 0; overflow: hidden;}
.favorite>label{width: 80px; height: 26px; margin-right: 30px;
	text-transform: uppercase; font-family:"맑은고딕", malgum-gothic; font-size:1.5rem; word-spacing:-0.5rem;
	vertical-align: top;}
.favorite>label:last-of-type{margin-right: 0;}
.favorite>label>i{display:inline-block; width: 26px; height: 26px; background-position: -45px -213px;}	
.favorite>input:checked + label>i{background-position-x:-10px;}

#member_10{width: 100%; height: auto; min-height: 10rem; border:2px solid #1166c9; box-sizing: border-box;
			font-size: 1.1rem; font-family:"맑은고딕",malgum-gothic; line-height:120%;}

/* fieldset:last-of-type ============================== */

form>fieldset:last-of-type{padding: 20px 200px; padding-bottom: 25px; box-sizing: border-box;
	width: 100%; height: 86px; border-bottom:1px solid #90008d;}

input[type="reset"]{float: left; margin-top: 6px; border:1px solid #1166c9;
	width: 110px; height: 30px; background-color: #fff; color:#171717;
	border-radius:2px;}

input[type="submit"]{float: right; margin-right: -30px; margin-top: -5px; border: 0; width: 150px; height: 100%;
	background-color: #1166c9; color:#fff; font-weight: bold; 
	letter-spacing:2rem; text-indent:2rem; text-shadow:1px 1px 0 #171717;
	border-radius:2px; background-position: -12px -258px;}


