@charset "UTF-8";
/* tableTojoin_01.css */

/* more reset */
table,thead,tbody,tfoot,th,td{margin: 0; padding: 0; 
	border:1px solid #333; /* border-left: 0; border-right: 0; */
	border-spacing:0; border-collapse: collapse;}


form,fieldset,legend {margin: 0; padding: 0; border: 0;}
input{border:1px solid #333; box-sizing: border-box; text-indent:0.5rem;}
select{border:1px solid #333; box-sizing: border-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
select{cursor:pointer;}


/* layout */
#wrap{margin: auto; padding-top: 1rem;
	width: 650px; height: auto; min-height:10rem; 
	background-color: #dfdfdf;}
h1{margin-bottom:50px; 
	width: 100%; height:auto;  
	text-align: center; border-bottom:1px solid #333;}

table{margin-bottom: 1rem; width: 100%; height: auto; min-height:5rem; background-color: #cff; border: 0;}

thead{border: 0;}
tbody{width: 100%; height: auto; border: 0;}

th{width: 15%; height:30px; text-align:left; text-indent:1rem;}
td{padding:0.25rem 1rem; box-sizing: border-box; width: 85%; height: 30px;}

#in_05 + .in_text:before{content:"* "; color:#f06;}
#in_05 + .in_text:after{content:"같은 암호를 입력하세요."; color:#171717;}

.mail_area>input{width:150px;}
.mail_area>select{width:110px; height: 100%;}

#in_06{margin-right: 0;}
#in_06 ~ .in_text:before{content:" @ "; color:#171717; font-weight: bold;}

.phone_number {height:auto; word-spacing:-0.15rem; text-transform:uppercase;}
.phone_number > .in_text:before{content:"-";}
[for="tel_03"]>.in_text:before{content:"+"; font-weight: bold;}
.phone_number > .input-text{margin-top: 0.3rem; margin-right: 0; width:150px; height:22px;}

#in_10{width: 100%; height:10rem; overflow-y:auto;}

/* ==================================== */
.input-text{margin-right: 1rem; width: 200px; height: 100%;}
.check-btn{border: 0; padding: 0.1rem 1rem; background-color: #56a; color:#fff; font-weight: bold;
	cursor:pointer;}







/* ============================= */
.check_btn{margin: auto; width: 200px; height: 30px;}

input[type="submit"]{float: left; width:50px; height: 100%; 
	border:0; background-color: #333; color:#fff; text-align: center; text-indent: 0;}
input[type="reset"]{float: right; width:100px; height: 100%; 
	border:0; background-color: #333; color:#fff; text-align: center; text-indent: 0;}
