@font-face {
    font-family: 'NanumGothic';
    src: url('hinted-NanumGothic.eot');
    src: url('hinted-NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('hinted-NanumGothic.woff2') format('woff2'),
        url('hinted-NanumGothic.woff') format('woff'),
        url('hinted-NanumGothic.ttf') format('truetype'),
        url('hinted-NanumGothic.svg#NanumGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('hinted-NanumGothicBold.eot');
    src: url('hinted-NanumGothicBold.eot?#iefix') format('embedded-opentype'),
        url('hinted-NanumGothicBold.woff2') format('woff2'),
        url('hinted-NanumGothicBold.woff') format('woff'),
        url('hinted-NanumGothicBold.ttf') format('truetype'),
        url('hinted-NanumGothicBold.svg#NanumGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';/* ExtraBold*/
    src: url('hinted-NanumGothicExtraBold.eot');
    src: url('hinted-NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
         url('hinted-NanumGothicExtraBold.woff2') format('woff2'),
         url('hinted-NanumGothicExtraBold.woff') format('woff'),
         url('hinted-NanumGothicExtraBold.ttf') format('truetype'),
         url('hinted-NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}


