@charset "UTF-8";
/* reset.css */

html,body{margin: 0; padding: 0; width: 100%; height: 100%;}
h1,h2,h3,h4,h5,h6,div,p,pre,ul,ol,li,dl,dt,dd,img{margin: 0; padding: 0; border: 0; outline: 0;}
ul,ol,li{list-style:none;}
a{text-decoration:none; color:#333;}
a:hover, a:focus{color:#f06;}
a:focus{outline:3px solid #fa0; outline-offset:3px;}
header,nav,section,article,aside,footer,main,figure,figcaption{display: block;}