/* gcass/layout.css */

@charset "UTF-8";

/* 작업시 고려할 사항 가이드라인 제작하기
	---- color  ----

	mainColor   : #fff30d
	subColor1   : #777777
	subColor2   : #888888
	subColor3   : #575757
	textColor1  : #171717
	textColor2  : #ffffff
	background1 : #adadad

	---- font ----
	fontSize(h1)    : 
	fontSize(h2)    : 
	fontSize(h3)    : 
	fontSize(p)     : 12pt
	fontSize(point) : 12pt/bold
	단, 일부 디자인내용을 따를 수 있다.
  - 서체의 크기는 최소 6pt이하로 제작할 수는 없다. 

	---- naming guide ----
	id: carmelCase
	class: snake_case
	level 1: id 로사용, '영역이름' + 'Box'를 사용
  level 2: class로 사용, '기능이름' + '_area'를 사용
	level 3: class로 사용, level2의 이름 + '_상세기능이름'을 사용
	level 4: '상단 상세기능이름' + '_' + '번호2자리' 사용

	단,
	1. 꼭 필요한 경우의 상황에서는 id를 이용하여 이름을 부여할 수 있다.
	2. level 1의 영역을 fullpage 기능으로 사용할경우, 일부 영역을 감싸서 960영역설정시에는 '영역이름'+'_outer'이름으로 사용할 수 있다.

	---- margin ----
	1. margin을 사용시 상단과, 하단 둘중 하나를 사용해야 하는경우라면, 상단의 영역에서 mnargin-bottom 기능을 사용한다.
  2. 가로로 정렬(float:left)하여, 한쪽의 공간을 비워야한다면, 'margin-right' 기능 사용하자.

	---- 속성 작성순서 ----
	1. display
	2. float
	3. position/z-index/top/right/bottom/left
	4. margin
	5. padding
	6. box-sizing
	7. border
  8. width/min-width/max-width/height/min-height/max-height
  9. background-color/image/repeat/position ...
  10. font
  11. etc

  - 단위값 vw/vh 사용시 각영역을 처리하는 @media query문 내부 첫줄에 기준 크기값 미리 공지
  - 단위값 vw/vh 사용시 해당수치 뒤에(;뒤에) 주석을 달고 공식을 작성

  ---- z-index ----
  각 영역별 큰 설정에서는 위치단위를 100씩 사용
	:focus 기능처리되는 영역 :500
	header영역이 고정처리되는 상황에서는 : 1000
	이외에 position/z-index 사용시 별도의 명세서에 표기

*/

body{overflow-x: hidden;}
#wrap{margin: auto; width:61.25rem; height:53.125rem;}
/* #home =================================== */
#homeBox{position: relative; z-index: 100; width: 100%; height:1.875rem; background-color:#888888;}
#homeBox ul{float: right; width: 28rem; height: 100%;}
#homeBox ul>li{float:left; width: 95px; height: 100%;}
#homeBox ul>li:nth-child(2) {background-color:#555555;}
#homeBox ul>li:last-child {position:relative; z-index:100; width:15.3125rem;background-color:#fff30d;}

#homeBox a{display: block; width: 100%; height: 100%; background-color:inherit; text-align: center;
 line-height:1.875rem; color:#fff;}
#homeBox li:last-child>a{text-align: left; text-indent:1rem; 
	color:#171717;}

#homeBox ul>li:last-child a:after{content:" "; display: block;
	position: absolute; z-index: -1; top: 0; left: 0;
  width: 50vw; height: 100%; background-color:inherit;}

#homeBox ul>li>a:hover{background-color: #acc;}
#homeBox ul>li>a:focus{background-color: #afc;}

/* ======================================== */
#homeBox:before, #homeBox::before, 
#footBox:before, #footBox::before{content:" "; display: block;
					position: absolute; z-index: -1; top: 0; left: 50%; margin-left:-50vw;
					width: 100vw; height: 100%; background-color:inherit; }
/* ======================================== */

.box_wrap{width:100%; height:auto; min-height:40rem;}


/* #headBox ================================== */
#headBox{float:left; position: relative; z-index: 100; 
	padding:3.4375rem 3.125rem 6.25rem 2.5rem; box-sizing: border-box; 
	width:15.625rem; height:auto; min-height:44.375rem; background-color:#777777;}

#headBox:before, #headBox::before{content:" "; display: block; 
        position: absolute; z-index:-1; top: 0; left: 50%; margin-left:-50vw;
				width: 50vw; height: 100%; background-color:inherit;
			  display: none; }


h1 {margin-bottom:1.875rem; width: 100%; height: 105px; background-color:#acf;}

#gnb {width: 100%; height: auto; min-height:10rem; background-color:#acf;}
#gnb > ul {width: 100%; height: auto;}
#gnb > ul > li {margin-bottom: 1rem;
  
 width: 100%; height: 2.8125rem;}

#gnb > ul > li:last-child {margin-bottom: 0; height:7rem;}

#gnb > ul > li > a {display: block; box-sizing:border-box; border-bottom:4px solid #fff; width: 100%; height: 100%;}

#gnb > ul > li > a:focus{border-color:#000;}

/* #viewBox ================================ */
#viewBox{float:left; position: relative; z-index: 100; width:45.625rem; height:auto; min-height:44.375rem;  background-color:#adadad;}

#viewBox:before, #viewBox::before{content:" "; display: block; 
        position: absolute; z-index:-1; top: 0; right: 50%; margin-right:-50vw;
				width: 50vw; height: 100%; background-color:inherit;}

#viewBox .com {margin: auto; margin-top: 5rem; width: 340px; height: 550px; background-color:#acf;}


/* #footBox ================================*/
#footBox{position: relative; z-index: 100; 
		padding:0.625rem 2.5rem 1.75rem; box-sizing: border-box;
	  width: 100%; height:6.875rem; background-color:#ffff55;}

#footBox:after,
#footBox::after{content:" "; display: block; width: 100vw; height: 0;
				position: absolute; z-index: 500; left: 50%; top: 0; margin-left: -50vw;
				border-top:0.0625rem solid #171717;}

#footBox h2 {float:left; margin-right:1.5625rem; width:4.5rem; height: 3rem; background-color:#acf;}

.info_area {float:left; margin-right:1.5625rem; width:5.625rem; height:45px; background-color:#acf;}
.location{border-bottom:1px solid #575757; box-sizing:border-box;
         width: 100%; height: 20px;}

.sns{width: 100%; height: 25px;}
.sns li{float:left; padding:1px 2px 0; box-sizing:border-box; width: 33.333333%; height:24px; }
.sns li>a{background-color:#fff;}

.addr_area {float:left; width:7.5rem; height:2.8125rem; background-color:#acf;}
.more_area {float:right;width:18.75rem; height:auto; background-color:#acf;}

