/* common.css */
@charset "UTF-8";

.hidden, 
.hidden_wrap a>span,
.hidden_wrap button>span{
  display: block; width: 0; height: 0; overflow: hidden; }

.clearfix:after,
.clearfix::after{content:" "; display: block;
  width:0; height:0; clear: both;}

#wrap{margin:0 auto;}

