/* common.css */
@charset "UTF-8";

.hidden{display: block; width: 0; height: 0; overflow: hidden; position:absolute; z-index: -100;}
.clearfix:after,
.clearfix::after{content:" "; display: block;
  width:0; height:0; clear: both;}

#wrap{margin:0 auto;}
